

.m{
	align-items:center;
	margin:250px;
	border: 1px solid #8092AF;
	
}
.n{
	padding-left:20%;
}

input{
	margin: 10px;

}
label{
	margin: 10px;
}
.main{
	width:980px;
	height:860px;
	background:#0A2B4E;
	
}
.form{
	
	margin:150px 650px;
	border-radius: 2px 5px 2px 5px;
	width:350px;
	height:470px;
	background:white;	
}
.fon{
	font-family: "Droid Naskh";
}
.ta{

    border: 1px solid #8092AF;
}
.am a{color:white}
.am a:hover{color:green}
.am{
	font-size: 20px;
	font-family: "Droid Serif";
	color:white;
	text-align: center;
}